.snippet-button {
    padding: 0.25em 0.5em;
    border: 1px solid #ddd;
    margin: 0.25em;
    border-radius: 5px;
    background: #e8eaf6;
    cursor: pointer;
}

.snippet-button:hover {
    background: #c5cae9;
}